<footer  class="bg-[#37b7ac] text-black font-light">
  <div
    class="max-w-screen-lg mx-auto py-12 grid grid-cols-1 lg:grid-cols-4 gap-y-8 gap-x-12 text-base"
  >
    <!---Coluna 1 - textos mais longo-->
    <div
      class="text-center lg:text-left flex flex-col items-center lg:items-start"
    >
      <h3 class="text-lg font-semibold mb-4">Forms</h3>
      <p class="text-center lg:text-start p-4px">
        é a plataforma ideal para criar, gerenciar e organizar registros de forma simples, rápida e segura.
      </p>
      <!---Icons de redes sociais visiveis em telas lg-->
      <div class="hidden lg:flex space-x-2 mt-8">
        <a href="https://www.facebook.com/AngolaCables/" aria-label="Facebook"
          ><img
            src="assets/icons/icons/social_icon3.svg"
            alt="Facebook"
            class="h-4 w-4"
        /></a>
        <a
          href="https://www.linkdin.com/company/angola-cables/"
          aria-label="Linkdin"
        >
          <img
            src="assets/icons/icons/social_icon4.svg"
            alt="Linkdin"
            class="h-4 w-4"
          />
          <a href="https://x.com/angola_cables" aria-label="X(Twitter)">
            <img
              src="assets/icons/icons/social_icon1.svg"
              alt="Twitter"
              class="h-4 w-4"
          /></a>
          <a
            href="https://www.instagram.com/angola_cables/"
            aria-label="Instagram"
            ><img
              src="assets/icons/icons/social_icon2.svg"
              alt=""
              class="h-4 w-4"
          /></a>
        </a>
      </div>
    </div>
    <!----Coluna 2-->
    <div
      class="text-center lg:text-left flex flex-col items-center lg:items-start"
    >
      <h3 class="text-lg font-semibold mb-4">Sobre nós</h3>
      <span class="flex flex-col">
        <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Forms</a>
        <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Quem Somos</a>
        <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Recrutamento</a>
        <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Sobre a Forms</a>
      </span>
    </div>
    <!-----Coluna 3-->
    <div class="text-center lg:text-left flex flex-col items-center lg:items-start">
      <h3 class="text-lg font-semibold mb-4">Serviços</h3>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Cadastro de Usuarios</a>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold" >Formulários Personalidos</a>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Gestão de Eventos</a>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Emissão de Certificados</a>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Painel Administrativo</a>
    </div>
    <!----Coluna 4-->
    <div class="text-center lg:text-left flex flex-col items-center lg:items-start">
      <h3 class="text-lg font-semibold mb-4" >Links Uteis</h3>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold" >Área de Cliente</a>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold" > Suporte </a>
      <a href="#" class="p-1 hover:text-[#070715] hover:font-bold">Base de conhecimento</a>
    </div>

  </div>
 <!---Rodape-->
    <div class="text-center  bg-[#2c8f8c] items-center p-4">
      Copyright &copy; 2022. All Rights Reserved | Forms
    </div>

</footer>

