<nav class="bg-[#2affed] shadow-md fixed w-full top-0 z-50 ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <!-- Logo -->
      <div class="flex-shrink-0">
        <a href="/" class="text-2xl font-bold text-[#232323]">Forms</a>
      </div>
      <!---BurguerMenu-->
      <div class="md:hidden">
        <button (click)="burguerMenu()" class="text-gray-600 focus:outline-none">
          <svg
          class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
          <path
             stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
          />
          </svg>
        </button>
        </div>
        <!--Menu-->
        <div class=" hidden sm:flex space-x-8">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-black hover:text-[#dbdbd9] font-bold">Home</a>

          <a [routerLink]="['/contacto']" routerLinkactive="router-link-active" class="text-black hover:text-[#dbdbd9] font-bold font-sans">Contactos</a>

          <a [routerLink]="['/sobre']" class="text-black  hover:text-[#dbdbd9] font-bold" >Sobre</a>
        </div>
    </div>

    <!---Menu Mobile-->
    <div [ngClass]="{hidden: !mobileOpen}" class="md:hidden px-4 pb-4">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="text-black hover:text-[#dbdbd9] font-bold block py-2
       font-sans"
      >Home</a>

<a [routerLink]="['/contacto']" routerLinkactive="rouetr-link-active" class="font-bold hover:text-[#dbdbd9] font-sans block py-2">Contacto</a>

      <a [routerLink]="['/sobre']" routerLinkActive="router-link-active
  " class="font-bold hover:text-[#dbdbd9] font-sans block py-2">Sobre</a>
    </div>

  </div>
</nav>


